
@{
    ViewBag.Title = "YeniDersKaydı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<form method="post" form="form-group">
    <div>
        <label>Ders Adı</label>
        <input type="text" class="form-control" name="DERSAD"/>
    </div>
    <div style="margin-top:10px">
        <button class="btn btn-success">Ders Ekle</button>
    </div>

</form>